body {
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
}

.info{
    padding-left: 30px;
}

.tipoDeCredito{
    text-align: center;
    padding: 20px;
}

.tipoDeCredito h2{
    color: #444;
}

.tipoDeCredito p{
    font-weight: 500;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #237be2;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease;
    margin-left: 20px;
}

input[type="radio"]:checked {
    border-color: blue;
    background-color: #237be2;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-bottom: 25px;
}

.filtros input[type="radio"] {
    display: none;
}

.filtros label {
    padding: 10px 20px;
    background-color: #95b8d1;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;
}

.filtros label:hover {
    background-color: #809bce;
}

.filtros input[type="radio"]:checked + label {
    background-color: #4caf50;
    color: white;
    border-color: #333;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    padding: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    place-items: center;
}

.producto {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.producto:hover {
    transform: translateY(-3px);
}

.producto .imagen {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}


.producto a {
    cursor: pointer;   
    width: 200px;
    padding: 12px 20px;  
    margin-top: 20px;
    border: 3px solid blue;
    border-radius: 25px;
    background-color: #237be2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: ease 0.5s;
    display: block;      
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.producto a:hover {
    border: 3px solid #237be2;
    background-color: #fff;
    color: #237be2;
}

.producto { display: none;}

#todos:checked ~ .productos .producto {
    display: block;
}

#libre:checked ~ .productos .libre { display: block; }
#vehiculo:checked ~ .productos .vehiculo { display: block; }
#vivienda:checked ~ .productos .vivienda { display: block; }
#educativo:checked ~ .productos .educativo { display: block; }
#empresarial:checked ~ .productos .empresarial { display: block; }

